<body>
<table align="center" border="1">
<tr>
    <th>Published</th>
    <th>ISBN-13</th>
    <th>Author</th>
    <th>Title</th>
</tr>
<tr>
    <td>November 8, 2011</td>
    <th>860-1200464207</th>
    <td>Hon Duckett</td>
    <th>HTML and CSS: Design and Build Websites</th>
    </tr>
<tr>
    <td>November 11, 2011</td>
    <th>978-0321793935</th>
    <td>Ian Devlin</td>
    <th>HTML5 Multimedia: Develop and Design</th>
</tr>
<tr>
    <td>Auguest 24, 2012</td>
    <th>978-1449319274</th>
    <td>Jennifer Niederst Robbins</td>
    <th>A Beginner's Guide to HTML, CSS, JavaScript, and Web Graphics</th>
</tr>
<tr>
    <td>Auguest 24, 2012</td>
    <th>978-1449319274</th>
    <td>Jon Duckett</td>
    <th>JavaScript and JQuery: Interactive Front-End Web Decelopment</th>
</tr>
<tr>
    <td>December 29. 2010</td>
    <th>978-1430230908</th>
    <td>Silvia Pfeiffer</td>
    <th>The Definitive Guide to HTML5 Video</th>
</tr>
<tr>
    <td>Auguest 27, 2010</td>
    <th>978-0596806026</th>
    <td>Mark Pilgrim</td>
    <th>HTML5: Up and Running</th>
</tr>
<tr>
    <td>November 17, 2006</td>
    <th>978-0596527334</th>
    <td>Eric A. Meyer</td>
    <th>CSS: The Definitive Guide</th>
</tr>
<tr>
    <td>May 13, 2011</td>
    <th>978-0596805524</th>
    <td>David Flanagan</td>
    <th>JavaScript: The Definitive Guide: Active Your Web Pages</th>
</tr>
<tr>
        <td>May 2008</td>
        <th>978-0596517748</th>
        <td>Douglas Crockford</td>
        <th>JavvaScript: The Good Parts</th>
</tr>
<tr>
    <td colspan="4" align="center">Amazon Student | FREE Two-Day Shipping on millions of items</td>
</tr>