<table border="1" width="1000" height="400" cellpadding="18" cellspacing="0" bgcolor="blue">
    <tr>
        <td width="350" rowspan="8">
            <table width="350" cellspacing="0" cellpadding="0" align="center"
                style="color:white; text-align:center; font-size: 22px;">
                <tr>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                    <td> </td>
                    <td>&#9733;</td>
                </tr>
            </table>
        </td>
    </tr>
    <td bgcolor="red" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="1"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>
    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>
    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

</table>