body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 54px;
    background-color: #FFC8CA;
    color: #343a40;
}

@media (min-width:992px) {
    body {
        padding-top: 0;
        padding-left: 17rem
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #343a40
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem
}

h2 {
    font-size: 3.5rem
}

h3 {
    font-size: 2rem
}

p.lead {
    font-size: 1.25rem;
    font-weight: 400
}

.subheading {
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #343a40;
}

/*Gallery Box*/
.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #f97070;
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }

  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-left: 20px;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 250px;
    height: 250px;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
  }
  
  @media screen and (max-width:960px) {
    .gallery-section .image{
      flex: 33.33%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .image{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .image{
      flex: 100%;
    }
  }

/*--------------------------------------------------------------------------------*/

.motiongp{
    height: 500px;
}

/*resume*/

.vdresume{
    height: 400px;
}

.resume{
    height: 400px;
}

/*-------------------------------------------------------------------------------*/


#sideNav .navbar-nav .nav-item .nav-link {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .05rem;
}


@media (min-width:992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: .5rem
    }
    #sideNav .navbar-brand .img-logo {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid #f97070
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block
    }
}

section.resume-section {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
    max-width: 75rem
}

section.resume-section .resume-item .resume-date {
    min-width: none
}

@media (min-width:768px) {
    section.resume-section {
        min-height: 100vh
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem
    }
}

@media (min-width:992px) {
    section.resume-section {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important
    }
}

.bg-primary {
    background-color: #3F414C!important
}

.text-primary {
    color: #f97070!important
}

a {
    color: #343a40
}

a:active, a:focus, a:hover {
    color: #343a40
}