#flag {
    height: 400px;
    width: 1000px;
    background-color: blue;
}

#starcell {
    width: 350px;
}

#stars {
    width: 350px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.red_stripe {
    background-color: red;
}

.white_stripe {
    background-color: white;
}